* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 1456px;
}
body {
  font-family: 'Inter', sans-serif;
}
$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);
@mixin up($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  position: relative;
  background-color: transparent;
  position: absolute;
  @include up(md) {
    padding: 12px 32px;
  }
  @include up(xl) {
    padding: 12px 64px;
  }
}
.site-logo {
  margin: 0px;
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  background: transparent;
  transition: all 0.35s ease;
  @include up(xl) {
    position: relative;
    height: auto;
    opacity: 1;
    max-height: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
.nav.active {
  max-height: 700px;
  opacity: 1;
  transform: translateY(0);
  padding: 40px 20px;
  background-color: white;
  @include up(md) {
    padding: 64px 32px;
  }
}

.nav-links {
  display: flex;
  background: transparent;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  @include up(xl) {
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-size: 16px;
  color: #162456;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}

.nav-links a.shop-link {
  display: flex;
  align-items: center;
}

.nav-links a.shop-link::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../assets/chevron-down.png') center/contain no-repeat;
}

.search-cta {
  display: flex;
  margin: 0px;
  align-items: center;
}

.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0px 12px 0px 0px;
}

.shop-now--button {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  background: linear-gradient(#032e15 0%, #016630 100%);
  border-radius: 50px;
  padding: 16px 28px;
  margin: 0;
}

.mobile-cta {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  @include up(xl) {
    display: none;
  }
}
.desktop-cta {
  display: none;
  @include up(xl) {
    display: flex;
  }
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  margin: 0px;
  width: 24px;
  height: 24px;
  @include up(xl) {
    display: none;
  }
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #162456;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

footer {
  background-color: #032e15;
  padding: 32px 20px;
  color: white;
  @include up(xl) {
    padding: 75px 64px 93px;
  }
  a {
    color: white;
  }
  .site-logo--footer {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;
    color: white;
    @include up(xl) {
      margin-bottom: 45px;
    }
  }

  .footer-bottom {
    @include up(xl) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 48px;
    }
  }

  .footer-menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 24px;
    @include up(xl) {
      display: flex;
      justify-content: flex-start;
      gap: 40px;
      margin: 0px;
    }
  }

  .footer-menus ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    @include up(xl) {
      min-width: 171px;
    }
  }

  .footer-menus li {
    list-style: none;
    padding: 8px 0;
    margin: 0px;
  }

  .footer-menus a {
    text-decoration: none;
    font-family: 'Oxanium', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .footer-menus a:hover {
    text-decoration: underline;
  }

  .footer-menus a.facebook::before,
  .footer-menus a.instagram::before,
  .footer-menus a.x::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer-menus a.facebook::before {
    background-image: url('../assets/facebook-icon.png');
  }

  .footer-menus a.instagram::before {
    background-image: url('../assets/instagram-icon.png');
  }

  .footer-menus a.x::before {
    background-image: url('../assets/x-icon.png');
  }

  .newsletter {
    margin: 0px;
    h3 {
      color: #fef3e4;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .newsletter-input {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .newsletter-input input {
    border: 1px solid white;
    padding: 12px;
    background: transparent;
    width: 304px;
    color: white;
    margin: 0px;
    box-shadow: none;
  }

  .newsletter-input input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 300;
  }

  .newsletter-input button {
    padding: 12px 24px;
    background-color: #653b09;
    cursor: pointer;
    margin: 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
  }

  .newsletter p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Oxanium', sans-serif;
  }
}

.hero {
  min-height: 100vh;
  background: url('../assets/hero-bg.png') center bottom / cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;

  z-index: -1;
  padding: 0px 16px;
  @include up(md) {
    padding: 0px 32px;
  }
  @include up(xl) {
    padding: 0px 64px;
  }
}

.hero__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 0px;
  @include up(md) {
    padding: 12px 32px;
  }
  @include up(xl) {
    padding: 0px;
    text-align: left;
  }
}

.hero__content {
  color: #0b3b1d;
  width: 100%;

  .tagline {
    margin: 24px 0px;
    font-size: 2rem;
    font-weight: 700;
    margin: 27px 0px 41px 0px;
    margin-bottom: 27px;
    @include up(md) {
      font-size: 3rem;
    }
    @include up(xl) {
      font-weight: 56px;
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(
    90deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  color: white;
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 300;
}

.stats {
  display: flex;
  margin: 0px 0px 40px 0px;
  gap: 24px;
  justify-content: center;
  @include up(md) {
    gap: 60px;
  }

  @include up(xl) {
    gap: 80px;
    justify-content: start;
  }
  .stat {
    margin: 0px;
    text-align: left;
    strong {
      display: block;
      font-weight: 700;
      background: linear-gradient(
        90deg,
        rgba(3, 46, 21, 0.7) 0%,
        rgba(1, 102, 48, 0.7) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      font-size: 1.7rem;
      @include up(md) {
        font-size: 2.5rem;
      }

      @include up(xl) {
        font-size: 72px;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 300;
      color: #4f6f5c;
      @include up(xl) {
        font-size: 22px;
        font-weight: 300;
        color: #4f6f5c;
      }
    }
  }
}

.btn-primary {
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 1) 0%,
    rgba(1, 102, 48, 1) 100%
  );
  color: #fff;
  padding: 12px 48px;
  border-radius: 100px;
  height: 48px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.hero__image {
  display: flex;
  justify-content: center;

  img {
    max-width: 320px;
    width: 100%;
    height: auto;
  }
}

//collection section//
.collection {
  padding: 0px 20px;
  @include up(xl) {
    padding: 0px 68px 97px 60px;
  }
}

.collection__container {
  display: flex;
  flex-direction: column;

  @include up(xl) {
    flex-direction: row;
  }
  gap: 0;
  align-items: center;
}

.collection__content {
  width: 100%;
  h2 {
    font-size: 36px;
    margin-bottom: 32px;
    color: #0b3b1d;
    font-weight: 600;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  overflow: hidden;
  transition: border 0.2s ease;
  width: 100%;
  margin: 0px;
  @include up(xl) {
    min-width: 626px;
    max-width: 626px;
  }
}

.accordion-header {
  width: 100%;
  background: #fff;
  border: none;
  padding: 24px 32px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #0b3b1d;

  .icon {
    font-size: 22px;
    line-height: 1;
    margin: 0;
  }
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 32px;

  p {
    padding: 24px 0 24px;
    color: #666666;
    font-weight: 300;
    line-height: 1.6;
  }
}

.accordion-item.active .accordion-body {
  max-height: 200px;
}

/* ===== RIGHT ===== */
.collection__image {
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    margin: 24px 0px;
    display: block;
    @include up(xl) {
      width: 590px;
      height: 710px;
    }
  }
}

.comparison {
  padding: 32px 20;
  background: #fff;
  text-align: center;
  @include up(xl) {
    padding: 70px 0px 100px 0px;
  }
}

.comparison__container {
  max-width: 951px;
  margin: 0 auto;
}

.eyebrow {
  display: block;
  font-size: 40px;
  font-family: 'Oxanium', sans-serif;
  color: #0b3b1d;
  margin-bottom: 39px;
}

h2 {
  font-size: 36px;
  margin-bottom: 57px;
  color: #0b3b1d;
  font-weight: 600px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #cdded4;
  border-radius: 999px;
}
@media (max-width: 768px) {
  .table-wrapper {
    position: relative;
  }

  .table-wrapper::after {
    content: '← Swipe →';
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6a7f72;
    margin: 20px;
  }
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
}

th,
td {
  padding: 16px;
  border-bottom: 1px solid #666666;
  text-align: center;
  font-weight: 300;
  color: #666666;
}

th:first-child,
td:first-child {
  text-align: left;
  font-weight: 500;
}
td.highlight {
  width: 200px;
}
th.highlight {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 58px 7px 53px;
  flex-direction: column;
  p {
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: 300;
    margin: 0px;
  }
}

thead th {
  font-weight: 600;
  color: #0b3b1d;

  img {
    width: 100px;
    height: 88px;
    border-radius: 12px;
    display: block;
    margin: 0 auto 8px;
    object-fit: cover;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    padding-top: 24px;
  }
}

.highlight {
  background: #f0fdf4;
  position: relative;
  border-bottom: 1px dashed #322d2d;
  width: 200px;
  img {
    width: 88px;
    height: 88px;
    margin: 0px;
    display: flex;
    text-align: center;
  }
}

tbody tr .highlight {
  font-weight: 300;
  color: #666666;
}

.check {
  color: #fff;
  font-weight: 300;
  padding: 4px 8px;
  background-color: #0b3b1d;
  border-radius: 50%;
}

.cross {
  color: #322d2d;
  padding: 4px 8px;
  border: 1px solid #322d2d;
  border-radius: 100%;
}
.add-to-cart {
  width: 100%;
  text-align: center;
}
.cta {
  display: inline-block;
  padding: 14px 32px;
  background: linear-gradient(#032e15 0%, #016630 100%);
  color: white;
  text-decoration: none;
  border-radius: 999px;
  font-weight: 500;
  margin: 24px auto;
  @include up(xl) {
    margin-top: 82px;
  }
}

.stats-strip {
  background: linear-gradient(#0b3b1d, #0f6d3b);
  color: #fff;
  padding: 40px 20px;
  @include up(xl) {
    padding: 56px 64px;
  }
  .stats-strip__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    @include up(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.85;
  }
}

//product

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px 20px;
  margin: 0 auto;
  @include up(md) {
    padding: 0px 32px;
  }
  @include up(xl) {
    gap: 108px;
    flex-direction: row;
    padding: 146px 68px 97px 60px;
  }
}
.gallery {
  margin: 0px;
}

.gallery-main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  .main-image {
    width: 100%;
    margin: 0px 0px 20px 0px;
    @include up(md) {
      padding: 0px;
    }
    @include up(xl) {
      width: 100%;
      height: 100%;
      max-width: 610px;
      height: auto;
      margin-bottom: 30px;
      border-radius: 16px;
    }
  }
  .prev {
    position: absolute;
    left: 28px;
    padding: 6px;
    border: 1px solid #032e15;
    border-radius: 100%;
    bottom: 38px;
    cursor: pointer;
  }
  .next {
    cursor: pointer;
    position: absolute;
    right: 28px;
    rotate: 180deg;
    padding: 6px;
    border: 1px solid #032e15;
    border-radius: 100%;
    bottom: 38px;
  }
}

.dots {
  display: flex;
  position: absolute;
  bottom: 32px;
  left: 38%;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
  @include up(md) {
    left: 42%;
  }
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #0b3b1d;
    cursor: pointer;
    &.active {
      background: #0b3b1d;
    }
  }
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 10px;
  @include up(md) {
    grid-template-columns: repeat(8, 1fr);
  }
  @include up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  img {
    max-width: 60px;
    max-height: 60px;
    @include up(xl) {
      width: 100%;
      max-width: 130px;
      max-height: 130px;
      width: 130px;
      height: 130px;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}

.info {
  h1 {
    font-size: 36px;
    margin: 20px 0px 8px 0px;
    font-weight: 600;
    @include up(xl) {
      font-size: 36px;
      margin: 0px 0px 8px 0px;
      font-weight: 600;
    }
  }

  .rating {
    color: #032e15;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 20px;
    .stars {
      color: #00c950;
    }
  }
  .experience {
    color: #032e15;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .single-subscription-wrapper {
    margin-bottom: 10px;
  }
  .single-subscription-wrapper,
  .double-subscription-wrapper {
    border: 1px solid #b8b8b8;
    border-radius: 6px;
    max-width: 390px;
    width: 100%;
    @include up(md) {
      width: 100%;
      max-width: none;
      margin: 0px auto 10px auto;
    }
    @include up(xl) {
      max-width: none;
    }
    p {
      color: #032e15;
      font-size: 16px;
      font-weight: 300;
    }
    .most-popular {
      display: block;
      background: linear-gradient(90deg, #00c950, #0f6d3b, #032e15);
      font-weight: 700;
      font-size: 20px;
      width: 100%;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 10px;
      border: none;
      text-align: center;
    }
  }

  .option-group {
    .single,
    .double {
      color: #032e15;
      font-size: 20px;
      font-weight: 300;
      margin: 0px;
      padding: 13px 20px;
      input[type='radio'] {
        accent-color: #016630; /* green */
      }
      input {
        cursor: pointer;
      }
      .price {
        color: #032e15;
        font-weight: 700;
        font-size: 20px;

        float: right;
      }
      .old-price {
        text-decoration: line-through;
        font-weight: 300;
        color: #b8b8b8;
        font-size: 20px;
        margin-left: 10px;
      }
    }

    label {
      display: block;
      margin: 8px 0;
      cursor: pointer;
    }
  }
  .expandable {
    &::before {
      content: '';
      display: block;
      background-color: #919798;
      width: 100%;
      height: 1px;
    }
  }
  .expandable {
    padding: 0px 18px;
    display: none;
    margin: 0px;
    position: relative;
    @include up(xl) {
      padding: 0px 53px 26px 53px;
    }
    .choose,
    .choose-2,
    .choose-1 {
      font-size: 16px;
      font-weight: 300;
      padding: 18px 0px 10px 0px;
      margin: 0;
    }

    .included {
      .included-title {
        color: #032e15;
        font-size: 16px;
        font-weight: 300;
        margin: 27px 0px 15px 0px;
      }
      .included-features {
        list-style-type: none;
        li {
          font-size: 14px;
          font-weight: 300;
          padding-bottom: 8px;
          letter-spacing: 1px;
          span {
            font-weight: 600;
          }
          &::before {
            content: '';
            background-image: url('../assets/SealCheck.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 14px;
            height: 14px;
            padding-left: 6px;
          }
        }
      }
      .included-images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        margin-bottom: 20px;
        @include up(xl) {
          flex-direction: row;
          justify-content: start;
        }
        .included-main-image {
          border: 1px solid #919798;
          border-radius: 6px;
          width: 100%;
          display: grid;
          margin: 0px 0px 10px 0px;
          @include up(xl) {
            width: 166px;
            display: grid;
            margin-bottom: 0px;
            margin-right: 15px;
          }
          img {
            max-width: 84px;
            padding: 11px 0px 40px 0px;
          }
          p {
            color: #6f7577;
            font-size: 16px;
            font-weight: 300;
            margin: 0px;
            padding: 8px 0px 0px 11px;
          }
        }
        .included-three-images {
          border: 1px solid #919798;
          border-radius: 6px;
          margin: 0px;

          .images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 36px;
            gap: 46px;
            img {
              max-width: 54px;
            }
          }

          p {
            display: block;
            flex: none;
            margin: 8px 0px 0px 11px;
            font-size: 16px;
            font-weight: 300;
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
    .fragrances {
      display: flex;
      gap: 10px;
      img {
        width: 50px;
        height: 94px;
        margin: 0px;
      }
      .fragrance.selected {
        position: relative;
        &::before {
          content: 'BEST-SELLER';
          display: block;
          background: linear-gradient(90deg, #0b3b1d, #0f6d3b);
          border-top-left-radius: 5px;
          border-bottom-right-radius: 5px;
          color: white;
          font-weight: 700;
          font-size: 7px;
          padding: 1.5px 5px;
          top: -3px;
          right: 2px;
          position: absolute;
        }
        span {
          color: #016630;
        }
      }
      .fragrance {
        background-color: #f9f9f9;
        margin: 0px;
        border-radius: 5px;
        width: 127px;
        height: 145px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #919798;
          font-size: 13px;
          font-weight: 300;
          position: absolute;
          top: 9px;
          left: 25px;
        }
        input {
          position: absolute;
          top: 8px;
          left: 9px;
          cursor: pointer;
        }
        input[type='radio'] {
          accent-color: #016630; /* green */
        }
      }
    }
    &.active {
      display: block;
    }
  }
}

//pill
