* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  max-width: 1920px;
}
body {
  font-family: 'Inter', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 64px;
  .site-logo {
    margin: 0px;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(#016630 0%, #016630 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    li {
      list-style-type: none;
      a {
        font-weight: 400;
        color: #162456;
        text-decoration: none;
        font-size: 16px;
      }
      a.shop-link {
        position: relative;
        display: flex;

        align-items: center;
        justify-content: center;
        &::after {
          content: '';
          background-image: url('../assets/chevron-down.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 24px;
          height: 24px;
          display: block;
        }
      }
    }
  }
  .search-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    .search-icon {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    .shop-now--button {
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      color: white;
      border: 0px;
      background: linear-gradient(#032e15 0%, #016630 100%);
      border-radius: 50px;
      padding: 16px 28px;
    }
  }
}

footer {
  background-color: #032e15;
  padding: 75px 81px 93px 81px;
  color: white;
  a {
    color: white;
  }
}
.site-logo--footer {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    margin: 0px;
    ul {
      display: flex;
      flex-direction: column;
      li {
        list-style-type: none;
        margin: 0px;
        padding: 8px 0px;
        a {
          text-decoration: none;
          font-family: 'Oxanium', sans-serif;
          font-weight: 300;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
        a.facebook {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 12px;
          &::before {
            content: '';
            background-image: url('../assets/facebook-icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
          }
        }
        a.x {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 12px;
          &::before {
            content: '';
            background-image: url('../assets/x-icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
          }
        }
        a.instagram {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 12px;
          &::before {
            content: '';
            background-image: url('../assets/instagram-icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
          }
        }
      }
    }
  }
  .newsletter {
    margin: 0px;
    h3 {
      color: #fef3e4;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 16px;
    }
    .newsletter-input {
      input {
        border: 1px solid white;
        padding: 12px;
        background-color: transparent;
        width: 304px;
        margin-right: 14px;
        color: white;
        &::placeholder {
          color: white;
          font-size: 16px;
          font-weight: 300;
        }
      }
      button {
        padding: 12px 24px;
        background-color: #653b09;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 700;
        border: none;
      }
    }
    p {
      margin-top: 16px;
      font-weight: 300;
      font-size: 12px;
      font-family: 'Oxanium', sans-serif;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
